HoloControl-PCB/holo-controller-pcb-backups/
HoloControl-Pico/build/
HoloControl-UI/bin/
HoloControl-UI/obj/
HoloControl-UI/.vs/
HoloControl-UI/HoloControl_TemporaryKey.pfx
Report/**/*.synctex.gz
Report/**/*.log
Report/**/*.fls
Report/**/*.fdb_latexmk
Report/**/*.aux
Report/**/*.run.xml
Report/**/*.blg
Report/**/*.bcf
Report/**/*.bbl
Report/**/*.toc
Report/**/pdfa.xmpi
Report/MFFPrace.zip
Report/vzor-bp/
gerber/